<app-card [radius]="false">
    <data-list body #list (readData)="readData($event)">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <div class="d-flex flex-wrap" *ngIf="list.isDataLoaded">
            <div class="card list-card mr-3" *ngFor="let item of list.items">
                <div class="card-body">
                    <h5 class="card-title">
                        <user-link [user]="item.user"></user-link>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Vypůjčeno: {{item.loanedAt.toLocaleString()}}
                        <span *ngIf="item.returnedAt"><br>Vráceno: {{item.returnedAt.toLocaleString()}}</span>
                    </h6>
                    <list-button (clicked)="returnLoan(item)" [classList]="['mr-1']" title="Vrátit výpůjčku" icon="hand-holding mirrored"
                        *ngIf="!item.returnedAt">
                    </list-button>
                </div>
            </div>
        </div>
    </data-list>
</app-card>
