<div class="pt-3">
    <app-loading *ngIf="!userDetail"></app-loading>
</div>

<app-card *ngIf="userDetail" [title]="'Informace o členovi'" [icon]="'fa-user'" [isHideable]="false">
    <ng-container body>
        <div class="row">
            <div class="col-md-9">
                <form [formGroup]="userForm">
                    <h5 class="font-weight-normal mb-0">Základní informace</h5>
                    <div class="form-row">
                        <div class="col-md-1">
                            <label>ID</label>
                            <input type="text" readonly value="{{userDetail.id}}" class="form-control" />
                        </div>

                        <div class="col-md-3">
                            <label>Jméno*</label>
                            <input type="text" formControlName="name" class="form-control" title="Jméno člena je povinné.">
                            <span *ngIf="isInvalid('name')" class="text-danger">
                                <small *ngIf="isInvalid('name', 'required')">Jméno člena je povinné.</small>
                            </span>
                        </div>

                        <div class="col-md-3">
                            <label>Příjmení*</label>
                            <input type="text" formControlName="surname" class="form-control" title="Příjmení člena je povinné." />
                            <span *ngIf="isInvalid('surname')" class="text-danger">
                                <small *ngIf="isInvalid('surname', 'required')">Příjmení člena je povinné.</small>
                            </span>
                        </div>

                        <div class="col-md-3">
                            <label>Uživatelské jméno (Login)*</label>
                            <input type="text" formControlName="username" class="form-control" title="Uživatelské jméno je povinné." />
                            <span *ngIf="isInvalid('username')" class="text-danger">
                                <small *ngIf="isInvalid('username', 'required')">Uživatelské jméno je povinné.</small>
                                <small *ngIf="isInvalid('username', 'unique')">Uživatelské jméno již existuje.</small>
                            </span>
                        </div>

                        <div class="col-md-2">
                            <label>
                                Studium
                                <i class="fas fa-info-circle"
                                    title="Studijní program, obor, ... Zadávat pouze v případě, pokud člen stále studuje"></i>
                            </label>
                            <input type="text" formControlName="studyProgram" class="form-control">
                        </div>
                    </div>

                    <h5 class="font-weight-normal mt-4 mb-0">Kontaktní údaje</h5>
                    <div class="form-row">
                        <div class="col-md-3">
                            <label>Email*</label>
                            <input type="text" formControlName="email" class="form-control" title="Email je povinný." />
                            <span *ngIf="isInvalid('email')" class="text-danger">
                                <small *ngIf="isInvalid('email', 'required')">Email je povinný.</small>
                                <small *ngIf="isInvalid('email', 'email')">Email má neplatný formát.</small>
                            </span>
                        </div>

                        <div class="col-md-3">
                            <label>Telefonní číslo</label>
                            <input type="tel" formControlName="phoneNumber" class="form-control" />
                            <span *ngIf="isInvalid('phoneNumber')" class="text-danger">
                                <small *ngIf="isInvalid('phoneNumber', 'maxLength')">Telefonní číslo je příliš dlouhé.</small>
                                <small *ngIf="isInvalid('phoneNumber', 'format')">Telefonní číslo má neplatný formát.</small>
                            </span>
                        </div>

                        <div class="col-md-3" *ngIf="isDiscordAvailable">
                            <label>Účet Discord</label>
                            <user-selector formControlName="discordId" [useDiscord]="true" [searchable]="true"></user-selector>
                        </div>

                        <div class="col-md-3">
                            <label>
                                Email ve službě GSuite
                                <i class="fas fa-info-circle"
                                    title="Pokud adresa není vyplněna, tak bude účet automaticky založen a email přiřazen."></i>
                            </label>
                            <input type="text" formControlName="googlePrimaryEmail" class="form-control">
                            <span *ngIf="isInvalid('googlePrimaryEmail')" class="text-danger">
                                <small *ngIf="isInvalid('googlePrimaryEmail', 'email')">Email má neplatný formát.</small>
                            </span>
                            <app-checkbox *ngIf="isCreate" [label]="'Odvodit z email adresy'" formControlName="createGSuiteFromEmail"
                                [id]="'google-createFromEmail'">
                            </app-checkbox>
                        </div>
                    </div>

                    <h5 class="font-weight-normal mt-4 mb-0">Spolek</h5>
                    <div class="form-row">
                        <div class="col-md-3">
                            <label>Datum přihlášení*</label>
                            <input type="date" formControlName="joinedAt" class="form-control">
                            <span *ngIf="isInvalid('joinedAt')" class="text-danger">
                                <small *ngIf="isInvalid('joinedAt', 'required')">Datum přihlášení do spolku je požadován.</small>
                            </span>
                        </div>

                        <div class="col-md-3">
                            <label>Datum odchodu</label>
                            <input type="date" formControlName="leavedAt" class="form-control" />
                            <span *ngIf="isInvalid('leavedAt')" class="text-danger">
                                <small *ngIf="isInvalid('leavedAt', 'dateInterval')">Člen nemůže spolek opustit před přihlášením.</small>
                            </span>
                        </div>

                        <div class="col-md-3">
                            <label>Konec zkušební doby</label>
                            <input type="date" formControlName="testPeriodEnd" class="form-control" />
                            <span *ngIf="isInvalid('testPeriodEnd')" class="text-danger">
                                <small *ngIf="isInvalid('testPeriodEnd', 'dateInterval')">Členovi nemůže skončit zkušební doba ještě před
                                    přihlášením.</small>
                            </span>
                        </div>

                        <div class="col-md-3">
                            <label>Postavení*</label>
                            <selector [items]="userStates" formControlName="userState"></selector>
                            <span *ngIf="isInvalid('userState')" class="text-danger">
                                <small *ngIf="isInvalid('userState', 'required')">Postavení je povinné.</small>
                            </span>
                        </div>
                    </div>

                    <div class="form-row mt-2">
                        <div class="col-md-12">
                            <label>Oprávnění</label>
                            <checkbox-bitmask [options]="permissionsMaskOptions" formControlName="permissions"></checkbox-bitmask>
                        </div>
                    </div>

                    <h5 class="font-weight-normal mt-4 mb-0">Globální poznámka</h5>
                    <div class="form-row">
                        <div class="col-md-12">
                            <textarea formControlName="globalNote" class="form-control textarea-form"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-3">
                <div class="form-row mt-4 pl-4 pr-4 pb-0">
                    <div class="col d-flex justify-content-center">
                        <img src="data:image/png;base64,{{profilePicture}}" class="profile-pic" *ngIf="profilePicture"
                            [alt]="(isCreate ? 'New user' : userDetail.name + ' ' + userDetail.surname)" />
                        <app-loading *ngIf="!profilePicture" [noText]="true"></app-loading>
                    </div>
                </div>

                <div class="form-row mt-3">
                    <div class="col d-flex justify-content-around" *ngIf="!isCreate && isCurrentUser">
                        <input type="file" hidden id="profilePictureFileElement" accept="image/x-png,image/jpeg">
                        <div class="btn-group mb-3">
                            <button class="btn btn-outline-success" (click)="changeProfilePicture()">Změnit fotografii</button>
                            <button class="btn btn-outline-danger" (click)="clearProfilePicture()" [disabled]="!userDetail.haveProfilePicture">Smazat
                                fotografii</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3" *ngIf="canModify">
            <div class="col-md">
                <button class="btn btn-outline-danger mr-2" *ngIf="!isCurrentUser && userDetail.canAnonymize && haveHigherPerms"
                    (click)="anonymize()">Anonymizovat</button>

                <button class="btn btn-outline-danger mr-2" *ngIf="userDetail.havePassword && !this.isCurrentUser && this.haveHigherPerms"
                    (click)="clearPassword()">Smazat heslo</button>

                <button class="btn btn-outline-danger" *ngIf="haveHigherPerms && !userDetail.isAnonymized" (click)="resetPassword()">Resetovat
                    heslo</button>
            </div>

            <div class="col-md-4 d-flex justify-content-end align-items-end">
                <button class="btn btn-outline-success" [disabled]="userForm.invalid" (click)="submitForm()">Uložit změny</button>
            </div>
        </div>
    </ng-container>
</app-card>

<div class="mt-3 mb-3" *ngIf="!isCreate">
    <app-card *ngIf="userDetail" [title]="'Podrobnosti'" [icon]="'fa-list'" [isHideable]="false">
        <ng-container body>
            <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTabId">
                <li [ngbNavItem]="'log'" *ngIf="this.isCurrentUser || this.haveHigherPerms">
                    <a ngbNavLink>Historie</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-md-8">
                                <app-log-data [logData]="userDetail.logData">
                                    <ng-container *ngIf="userDetail.lastLogin">
                                        <b>Poslední přihlášení</b><br>
                                        {{userDetail.lastLogin.toLocaleString()}}
                                    </ng-container>
                                </app-log-data>
                            </div>
                        </div>
                    </ng-template>
                </li>

                <li [ngbNavItem]="'teams'" *ngIf="userDetail?.teams?.length > 0">
                    <a ngbNavLink>Týmy</a>
                    <ng-template ngbNavContent>
                        <div class="d-flex flex-wrap justify-content-start pt-3 pl-3 pr-3">
                            <div class="card mr-3 team-card" *ngFor="let team of userDetail.teams" [class.ptr]="this.isCurrentUserTeamLeader"
                                (click)="teamClick(team.id)">
                                <div class="card-body p-3">
                                    <h5 class="card-title float-none mb-3">{{team.name}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted" *ngIf="team.isLeader">Vedoucí týmu</h6>
                                    <a class="text-underlined" (click)="removeUserFromTeamClick($event, team)"
                                        *ngIf="this.isCurrentUserTeamLeader">Odebrat</a>
                                </div>
                            </div>
                        </div>

                        <div class="row ml-3 mr-3 mb-3 border-top" *ngIf="addUserToTeamForm && isCurrentUserTeamLeader">
                            <form class="col" [formGroup]="addUserToTeamForm" (ngSubmit)="submitAddUserToTeam()">
                                <h5>Přidat člena do týmu</h5>

                                <div class="form-row">
                                    <div class="col-md">
                                        <selector [items]="availableTeams" formControlName="team"></selector>
                                    </div>

                                    <div class="col-md-3 d-flex align-items-end">
                                        <button class="btn btn-outline-success" [disabled]="addUserToTeamForm.invalid" type="submit">Přidat</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </li>

                <li [ngbNavItem]="'note'">
                    <a ngbNavLink>Moje poznámka</a>
                    <ng-template ngbNavContent>
                        <form [formGroup]="myNoteForm" class="p-3" (ngSubmit)="submitMyNote()">
                            <div class="row">
                                <div class="col-md-12 pb-3">
                                    <textarea formControlName="myNote" class="form-control textarea-form"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-end">
                                    <button class="btn btn-outline-success" type="submit">Uložit poznámku</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </li>

                <li [ngbNavItem]="'password'" *ngIf="isCurrentUser">
                    <a ngbNavLink>Heslo</a>
                    <ng-template ngbNavContent>
                        <form [formGroup]="passwordForm" class="p-3" (ngSubmit)="changePassword()">
                            <div class="form-row">
                                <div class="col-md-3" *ngIf="userDetail.havePassword">
                                    <label>Staré heslo</label>
                                    <input class="form-control" formControlName="oldPassword" type="password" />
                                    <span *ngIf="this.passwordForm.get('oldPassword').touched && this.passwordForm.get('oldPassword').invalid"
                                        class="text-danger">
                                        <small *ngIf="this.passwordForm.get('oldPassword').hasError('required')">Staré heslo je povinné.</small>
                                        <small *ngIf="this.passwordForm.get('oldPassword').hasError('equals')">Staré heslo nesmí být stejné jako
                                            nové.</small>
                                    </span>
                                </div>

                                <div class="col-md-3">
                                    <label>Nové heslo</label>
                                    <input class="form-control" formControlName="newPassword" type="password" />
                                    <span *ngIf="this.passwordForm.get('newPassword').touched && this.passwordForm.get('newPassword').invalid"
                                        class="text-danger">
                                        <small *ngIf="this.passwordForm.get('newPassword').hasError('required')">Nové heslo je povinné.</small>
                                        <small *ngIf="this.passwordForm.get('newPassword').hasError('equals')">Staré heslo nesmí být stejné jako
                                            nové.</small>
                                    </span>
                                </div>

                                <div class="col-md-3">
                                    <label>Potvrzení hesla</label>
                                    <input class="form-control" formControlName="confirmPassword" type="password" />
                                    <span *ngIf="this.passwordForm.get('confirmPassword').touched && this.passwordForm.get('confirmPassword').invalid"
                                        class="text-danger">
                                        <small *ngIf="this.passwordForm.get('confirmPassword').hasError('required')">Nové heslo je povinné.</small>
                                        <small *ngIf="this.passwordForm.get('confirmPassword').hasError('equals')">Zadaná hesla si nesouhlasí.</small>
                                    </span>
                                </div>

                                <div class="col-md-3 d-flex align-items-end">
                                    <button type="submit" class="btn btn-outline-success" [disabled]="this.passwordForm.invalid">Změnit heslo</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="border border-top-0"></div>
        </ng-container>
    </app-card>
</div>
