.profile-pic {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    max-width: 100%;
    max-height: 100%;
}

.team-card {
    & .card-title {
        font-weight: 500;
    }
}
