<div class="pt-3">
    <app-loading *ngIf="!event"></app-loading>
</div>

<app-card *ngIf="event" [icon]="'fa-calendar-alt'" [title]="'Informace o akci'" [isHideable]="false">
    <form body [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Název*</label>
                <input type="text" formControlName="name" class="form-control">
                <span *ngIf="isInvalid('name')" class="text-danger">
                    <small *ngIf="isInvalid('name', 'required')">Název akce je povinný.</small>
                    <small *ngIf="isInvalid('name', 'maxlength')">Byla překročena maximální délka názvu akce 100 znaků.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Od*</label>
                <input type="datetime-local" class="form-control" formControlName="from" />
                <span *ngIf="isInvalid('from')" class="text-danger">
                    <small *ngIf="isInvalid('from', 'required')">Datum začátku akce je povinný.</small>
                    <small *ngIf="isInvalid('from', 'dateInterval')">Datum a čas od/do nejsou ve správném intervalu.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>
                    Do <i class="fas fa-info-circle" title="Pokud nebude datum a čas zadán, tak se bude brát konec dne, kdy akce začala."></i>
                </label>
                <input type="datetime-local" class="form-control" formControlName="to" />
            </div>

            <div class="col-md-3" *ngIf="channels">
                <label>Discord kanál</label>
                <selector [items]="channels" [searchable]="true" formControlName="discordChannelId"></selector>
                <app-checkbox formControlName="createDiscordChannel" [label]="'Vytvořit kanál automaticky'" [id]="'createDiscordChannel'"
                    title="Po potvrzení formuláře automaticky kontaktuje bota s požadavkem na vytvoření role."></app-checkbox>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3">
                <label>Očekávaný počet</label>
                <input type="number" class="form-control" formControlName="expectedCount" />
            </div>

            <div class="col-md-3">
                <label>Reálný počet</label>
                <input type="number" class="form-control" formControlName="realCount" />
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-6">
                <label>Popis</label>
                <textarea class="form-control textarea-form" formControlName="description"></textarea>
            </div>

            <div class="col-md-6">
                <label>Poznámka</label>
                <textarea class="form-control textarea-form" formControlName="note">Poznámka</textarea>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-4">
                <app-checkbox *ngIf="!isCreate" [label]="'Událost zapsána v kalendáři'" [checked]="!!event.calendarEventId" [disabled]="true">
                </app-checkbox>
            </div>

            <div class="col-md-8 d-flex justify-content-end align-items-right">
                <button class="btn btn-success" [disabled]="form.invalid">Uložit změny</button>
            </div>
        </div>
    </form>
</app-card>

<div class="mt-3 pb-3" *ngIf="!isCreate && event">
    <app-card>
        <div class="row" body>
            <div class="col-md-12">
                <app-log-data [padding]="false" [logData]="event.logData"></app-log-data>
            </div>
        </div>
    </app-card>
</div>
