<app-card [title]="'Seznam akcí'" [icon]="'fa-calendar-alt'" [isHideable]="false">
    <data-list body #list (readData)="readData($event)">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <div class="d-flex flex-wrap" *ngIf="list.isDataLoaded">
            <div class="card list-card mr-3" *ngFor="let item of list.items">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Od: {{item.from.toLocaleString()}}<br>
                        Do: {{item.to.toLocaleString()}}
                    </h6>
                    <p class="card-text">
                        Očekáváno: {{item.expectedCount}}
                        <span *ngIf="item.realCount"><br>Přišlo: {{item.realCount}}</span>
                    </p>
                    <list-button link="/app/events/{{item.id}}" [classList]="['mr-1']" title="Upravit akci" icon="edit"></list-button>
                    <list-button [classList]="['mr-1']" title="Smazat akci" *ngIf="item.canManage" (clicked)="removeEvent(item.id)" icon="trash-alt"
                        iconGroup="far"></list-button>
                    <list-button link="/app/events/{{item.id}}/comments" [classList]="['mr-1']" title="Komentáře" icon="comments" iconGroup="far">
                    </list-button>
                </div>
            </div>
        </div>
    </data-list>
</app-card>
