<div class="pt-3">
    <app-loading *ngIf="!interview"></app-loading>
</div>

<app-card *ngIf="interview" [title]="'Pohovor'" [icon]="'fa-comments'" [isHideable]="false">
    <form body [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>Účastník</label>
                        <selector [items]="users" formControlName="user"></selector>
                        <span *ngIf="isInvalid('user')" class="text-danger">
                            <small *ngIf="isInvalid('user', 'required')">Výběr účastníka pohovoru je povinný.</small>
                            <small *ngIf="isInvalid('user', 'exists')">Zadaný člen neexistuje.</small>
                        </span>
                    </div>

                    <div class="col-md-6">
                        <label>
                            Vedoucí
                            <i class="fas fa-info-circle"
                                title="Pokud zůstane vybrána možnost 'Nevybráno', tak se automaticky vybere přihlášený člen."></i>
                        </label>
                        <selector [items]="users" formControlName="leader"></selector>
                        <span *ngIf="isInvalid('leader')" class="text-danger">
                            <small *ngIf="isInvalid('leader', 'exists')">Zadaný člen neexistuje.</small>
                        </span>
                    </div>
                </div>

                <div class="form-row mt-3">
                    <div class="col-md-6">
                        <label>Datum a čas</label>
                        <input type="datetime-local" class="form-control" formControlName="at" />
                        <span *ngIf="isInvalid('at')" class="text-danger">
                            <small *ngIf="isInvalid('at', 'required')">Datum a čas pohovoru je povinný.</small>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <label>Poznámka</label>
                <textarea class="form-control textarea-form" formControlName="note"></textarea>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 d-flex align-items-end justify-content-end">
                <button class="btn btn-success" type="submit" [disabled]="form.invalid">Potvrdit</button>
            </div>
        </div>
    </form>
</app-card>
