.canvas {
    margin-top: 0.5rem;
    min-height: 50px;
    width: fit-content;
    margin-left: 0px;

    & .qr {
        width: 230px;
        flex-grow: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
