<form class="row" [formGroup]="form" novalidate>
    <div class="col">
        <app-checkbox [label]="'Pouze QR'" formControlName="onlyQr" [id]="'onlyQr'"></app-checkbox>
        <button class="btn btn-outline-primary" type="button" (click)="screenshot()">Stáhnout štítek</button>
    </div>
</form>

<div class="row canvas border justify-content-center" id="screenshotable">
    <div class="col qr">
        <qr-code [value]="qrUrl" [size]="200" [errorCorrectionLevel]="'H'" [margin]="1"></qr-code>
    </div>

    <div class="col pl-2" *ngIf="!onlyQr">
        #{{asset.id}}<br>
        {{asset.name}}<br>
        {{asset.location}}<br>
        <ng-container *ngIf="asset.anyCategory">{{categoryNames}}<br></ng-container>
        {{qrUrl}}
    </div>
</div>
