<app-loading *ngIf="!presence"></app-loading>

<ng-container *ngIf="presence">
    <div class="d-flex flex-wrap">
        <div class="card list-card mr-3" *ngFor="let item of presence">
            <div class="card-body">
                <h5 class="card-title">
                    <user-link [user]="item.user"></user-link>
                </h5>
                <p class="card-text mt-3">
                    <select [(ngModel)]="item.presence" class="form-control form-control-sm">
                        <option *ngFor="let item of presenceTypes" [ngValue]="item.key">{{item.value}}</option>
                    </select>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex align-items-end justify-content-end">
            <button class="btn btn-success" (click)="updatePresence()">Uložit změnu docházky</button>
        </div>
    </div>
</ng-container>
