<app-card [title]="'Filtr'" [icon]="'fa-search'">
    <form [formGroup]="form" body (ngSubmit)="submitFilter()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Typ</label>
                <selector [items]="accessTypes" formControlName="type"></selector>
            </div>

            <div class="col-md-4">
                <label>
                    Vyhledávání
                    <i class="fas fa-info-circle" title="Vyhledávání v popisu definice přístupu."></i>
                </label>
                <input type="text" class="form-control" formControlName="descriptionContains" />
            </div>

            <div class="col-md-3">
                <label>Vytvořil</label>
                <selector [items]="users" formControlName="createdBy"></selector>
            </div>

            <div class="col-md-2 d-flex align-items-end justify-content-end">
                <button class="btn btn-danger mr-2" (click)="resetFilter()">Smazat filtr</button>
                <button class="btn btn-success">Potvrdit</button>
            </div>
        </div>
    </form>
</app-card>
