<app-card [icon]="'fa-cash-register'" [title]="'Seznam účtů'" [isHideable]="false">
    <ng-container body>
        <app-loading *ngIf="!accounts"></app-loading>

        <div class="d-flex flex-wrap" *ngIf="accounts">
            <div class="card list-card mr-3" *ngFor="let item of accounts">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted" *ngIf="item.accountNumber">
                        {{item.accountNumber}}/{{item.bankCode}}
                    </h6>
                    <div *ngIf="canModify">
                        <list-button link="/app/finance/accounts/{{item.id}}" title="Upravit účet" [classList]="['mr-1']" icon="edit">
                        </list-button>
                        <list-button [classList]="['mr-1']" title="Smazat účet" *ngIf="item.canRemove" (clicked)="removeAccount(item.id)"
                            icon="trash-alt" iconGroup="far">
                        </list-button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</app-card>
