<app-card [title]="'Seznam členů'" [icon]="'fa-users'">
    <ng-container body>
        <data-list (readData)="readData($event)" #datalist>
            <app-loading *ngIf="!datalist.isDataLoaded"></app-loading>

            <ng-container *ngIf="datalist.isDataLoaded">
                <div class="d-flex flex-wrap card-list" *ngIf="datalist.items.length > 0">
                    <div class="card list-card mr-3" *ngFor="let user of datalist.items">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{user.fullName}}
                                <i class="fas fa-exclamation-triangle" title="Tento uživatel se ještě nikdy nepřihlásil." *ngIf="!user.anyLoggedIn"
                                    (click)="openUserWarning(user)"></i>
                            </h5>
                            <h6 class="card-subtitle text-muted">{{user.username}}</h6>
                            <p class="card-subtitle mb-2 text-muted">{{user.formattedState}}</p>
                            <a class="btn btn-outline-primary w-100" routerLink="/app/users/{{user.id}}">Detail člena</a>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center" *ngIf="datalist.items.length === 0">
                    <h4 class="m-0 p-0 font-weight-normal">
                        <h3 class="far fa-frown m-0 p-0"></h3>
                        Nepodařilo se vyhledat žádného člena
                    </h4>
                </div>
            </ng-container>
        </data-list>
    </ng-container>
</app-card>
