<div class="row pt-3">
    <div class="col-md-12">
        <app-loading *ngIf="!categories"></app-loading>

        <app-card [title]="'Kategorie'" [icon]="'fa-layer-group'" *ngIf="categories" [isHideable]="false">
            <div class="row" body>
                <div class="col-md-12">
                    <div class="d-flex flex-wrap" *ngIf="categories">
                        <div class="card list-card mr-3" *ngFor="let item of categories">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <i class="p-0 m-0 {{item.icon}}"></i>
                                    {{item.name}}
                                </h5>
                                <div *ngIf="canManage" class="mt-2">
                                    <list-button [classList]="['mr-1']" title="Upravit kategorii" (clicked)="selectCategory(item)" icon="edit">
                                    </list-button>
                                    <list-button [classList]="['mr-1']" title="Smazat kategorii" (clicked)="removeCategory(item)" icon="trash-alt"
                                        iconGroup="far">
                                    </list-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="col-md-6" [formGroup]="form" *ngIf="canManage">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Název</label>
                            <input type="text" formControlName="name" class="form-control" />
                            <span *ngIf="isInvalid('name')" class="text-danger">
                                <small *ngIf="isInvalid('name', 'maxlength')">Maximální délka názvu kategorie 100 znaků byla překročena.</small>
                                <small *ngIf="isInvalid('name', 'required')">Název kategorie je povinný.</small>
                                <small *ngIf="isInvalid('name', 'exists')">Tento název kategorie již existuje.</small>
                            </span>
                        </div>
                    </div>

                    <div class="row pt-1">
                        <div class="col-md-12">
                            <label>Ikona</label>
                            <selector [items]="icons" formControlName="icon"></selector>
                        </div>
                    </div>

                    <div class="row pt-3">
                        <div class="col-md-12 d-flex justify-content-end align-items-end">
                            <div class="btn-group">
                                <button class="btn btn-success" [disabled]="form.invalid" (click)="addCategory()">Přidat kategorii</button>
                                <button class="btn btn-success" [disabled]="form.invalid || !selectedCategory?.id" (click)="updateCategory()">Upravit
                                    kategorii</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </app-card>
    </div>
</div>
