<form [formGroup]="form">
    <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="{{id}}" formControlName="checkbox" />
        <label class="custom-control-label" for="{{id}}">{{label}}</label>
    </div>
</form>
