<form *ngIf="items" [formGroup]="form">
    <selector *ngIf="!multiselect" [items]="items" formControlName="selector" [searchable]="searchable"></selector>
    <multiselect *ngIf="multiselect" [items]="items" formControlName="selector"></multiselect>
</form>
