<app-modal [title]="'Detail přístupu pro člena'" *ngIf="accessMember" #modal>
    <h5 class="font-weight-normal">Základní informace</h5>

    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td style="width: 40%">Člen</td>
                <td>
                    <a routerLink="/app/users/{{accessMember.user.id}}" class="underlined-link"
                        (click)="modal.modal.close()">{{accessMember.user.fullName}}</a>
                </td>
            </tr>
            <tr>
                <td>Stav přístupu</td>
                <td *ngIf="accessMember.allowed">Povoleno</td>
                <td *ngIf="!accessMember.allowed">Zakázáno</td>
            </tr>
            <tr>
                <td>Poznámka</td>
                <td>{{accessMember.note}}</td>
            </tr>
        </tbody>
    </table>

    <h5 class="font-weight-normal">Historie</h5>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td style="width: 40%">Vytvořil</td>
                <td>
                    <a routerLink="/app/users/{{accessMember.logData.createdBy.id}}" class="underlined-link"
                        (click)="modal.modal.close()">{{accessMember.logData.createdBy.fullName}}</a>
                </td>
            </tr>

            <tr>
                <td>Vytvořeno</td>
                <td>{{accessMember.logData.createdAt.toLocaleString()}}</td>
            </tr>

            <tr *ngIf="accessMember.logData.lastModifiedBy">
                <td>Naposledy upravil</td>
                <td>
                    <a routerLink="/app/users/{{accessMember.logData.lastModifiedBy.id}}" class="underlined-link"
                        (click)="modal.modal.close()">{{accessMember.logData.lastModifiedBy.fullName}}</a>
                </td>
            </tr>

            <tr *ngIf="accessMember.logData.lastModifiedAt">
                <td>Naposledy upraveno</td>
                <td>{{accessMember.logData.lastModifiedAt.toLocaleString()}}</td>
            </tr>
        </tbody>
    </table>
</app-modal>
