<app-card [title]="'Filtr'" [icon]="'fa-search'">
    <form [formGroup]="form" body (ngSubmit)="submitFilter()">
        <div class="form-row">
            <div class="col-md-4" title="Část jména, příjmení, nebo uživatetelského jména.">
                <label>Vyhledávání</label>
                <input type="text" formControlName="nameQuery" class="form-control" />
            </div>

            <div class="col-md-4" title="Zobrazit pouze vyjmenované postavení">
                <label>Postavení</label>
                <multiselect [items]="userStates" formControlName="states"></multiselect>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <app-checkbox [id]="'ignoreLeftUsers'" [label]="'Vynechat neaktivní členy'" title="Vynechat členy, kteří opustili spolek."
                    formControlName="ignoreLeftUsers"></app-checkbox>

                <app-checkbox [id]="'ignoreTestPeriodUsers'" [label]="'Vynechat členy ve zkušební době'" title="Vynechat členy ve zkušební době."
                    formControlName="ignoreTestPeriodUsers"></app-checkbox>
            </div>

            <div class="col">
                <app-checkbox [id]="'ignoreAnonymized'" [label]="'Vynechat anonymizované členy'" title="Vynechat členy, kteří byli anonymizováni."
                    formControlName="ignoreAnonymized"></app-checkbox>
            </div>

            <div class="col-md d-flex align-items-end justify-content-end">
                <button type="submit" class="btn btn-danger mr-2" (click)="resetFilter()">Smazat filtr</button>
                <button type="submit" class="btn btn-success">Potvrdit</button>
            </div>
        </div>

    </form>
</app-card>
