<app-card [title]="'Filtr'" [icon]="'fa-search'">
    <form body [formGroup]="form" (ngSubmit)="submitFilter()">
        <div class="form-row">
            <div class="col-md-4" title="Vyhledávání v názvu týmu">
                <label>Vyhledávání</label>
                <input type="text" formControlName="nameQuery" class="form-control" />
            </div>

            <div class="col-md-2">
                <small>&nbsp;</small>
                <app-checkbox [id]="'onlyEmptyTeams'" [label]="'Pouze prázdné týmy'"
                    title="Zobrazí týmy, které mají pouze vedoucího, nebo nemají členy vůbec." formControlName="onlyEmptyTeams"></app-checkbox>
            </div>

            <div class="col-md-6 d-flex align-items-end justify-content-end">
                <button type="submit" class="btn btn-danger mr-2" (click)="resetFilter()">Smazat filtr</button>
                <button type="submit" class="btn btn-success">Potvrdit</button>
            </div>
        </div>
    </form>
</app-card>
