<a [routerLink]="link" class="btn-secondary btn-sm" title="{{title}}" [ngClass]="classList" *ngIf="link">
    <i class="{{iconGroup}} fa-{{icon}}"></i>
</a>

<a class="btn-secondary btn-sm ptr" title="{{title}}" [ngClass]="classList" (click)="clicked.emit($event)" *ngIf="!link">
    <i class="{{iconGroup}} fa-{{icon}}"></i>
</a>
