<div class="d-flex justify-content-center align-items-center">
    <h1 style="font-size: 50px;">
        <i class="fas fa-spin fa-circle-notch"></i>
    </h1>

    <h3 class="ml-3 font-weight-light" *ngIf="!noText">Probíhá načítání</h3>
</div>
