<app-card [title]="'Seznam schůzí'" [icon]="'fa-handshake'" [isHideable]="false">
    <data-list #list (readData)="readData($event)" body>
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <div class="d-flex flex-wrap" *ngIf="list.isDataLoaded">
            <div class="card list-card mr-3" *ngFor="let item of list.items">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Začíná: {{item.at.toLocaleString()}}<br>
                        <span title="Předpokládaný konec">Konec:</span> {{item.expectedEnd.toLocaleString()}}
                    </h6>
                    <p class="card-text">{{item.formatedAttendance}}</p>
                    <div class="border-top border-bottom mb-2">
                        <h5 class="fas fa-pencil-ruler fs-4 mb-2 mt-2 mr-2" title="Vytvořena" *ngIf="item.isDrafted"></h5>
                        <h5 class="fas fa-phone fs-4 mb-2 mt-2 mr-2" title="Schůze byla svolána" *ngIf="item.isSummoned"></h5>
                        <h5 class="fas fa-phone-slash fs-4 mb-2 mt-2 mr-2" title="Schůze byla zrušena" *ngIf="item.isCancelled"></h5>
                        <h5 class="fas fa-exclamation-triangle text-warning fs-4 mb-2 mt-2 mr-2" title="Jsi očekáván na schůzi"
                            *ngIf="item.isExpected"></h5>
                        <h5 class="fas fa-check text-success fs-4 mb-2 mt-2 mr-2" *ngIf="item.isPresenceOk === true"
                            title="Tvá docházka je v pořádku."></h5>
                        <h5 class="fas fa-times text-danger fs-4 mb-2 mt-2 mr-2" *ngIf="item.isPresenceOk === false"
                            title="S tvojí docházkou není něco v pořádku. Podívej se do detailu schůze."></h5>
                    </div>
                    <list-button link="/app/meetings/{{item.id}}" [classList]="['mr-1']" title="Upravit schůzi" icon="edit"></list-button>
                    <list-button [classList]="['mr-1']" title="Opětovně svolat schůzi" icon="bullhorn" (clicked)="notifyMeeting(item)"
                        *ngIf="item.isSummoned"></list-button>
                    <list-button (click)="apologizeFromMeeting(item)" [classList]="['mr-1']" title="Omluvit se ze schůze" icon="user-slash"
                        *ngIf="item.canApologize"></list-button>
                </div>
            </div>
        </div>
    </data-list>
</app-card>
