<app-card [title]="'Seznam klientů'" [icon]="'fa-users'" [isHideable]="false">
    <data-list body #list (readData)="readData($event)">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <div class="d-flex flex-wrap" *ngIf="list.isDataLoaded">
            <div class="card list-card mr-3" *ngFor="let item of list.items">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{item.formatedClientType}}</h6>
                    <p class="card-text">
                        <small>{{item.clientId}}</small>
                    </p>
                    <div class="border-top border-bottom mb-2 pt-2" *ngIf="item.isUnused">
                        <h5 class="fas fa-exclamation-triangle text-warning" [hidden]="!item.isUnused"
                            title="Tato aplikace ještě nikdy nebyla použita."></h5>
                    </div>
                    <list-button link="/app/system/clients/{{item.id}}" title="Upravit klienta" [classList]="['mr-1']" icon="edit"></list-button>
                    <list-button [classList]="['mr-1']" title="Vygenerovat nový identifikátor" (clicked)="regenerateClientId(item.id)"
                        icon="sync-alt">
                    </list-button>

                    <list-button [classList]="['mr-1']" title="Smazat klienta" (clicked)="removeClient(item.id)" icon="trash-alt" iconGroup="far">
                    </list-button>
                </div>
            </div>
        </div>
    </data-list>
</app-card>
