<data-list #memberList (readData)="readData($event)">
    <app-loading *ngIf="!memberList.isDataLoaded"></app-loading>

    <div class="d-flex flex-wrap" *ngIf="memberList.isDataLoaded">
        <div class="card list-card mr-3" *ngFor="let item of memberList.items">
            <div class="card-body">
                <h5 class="card-title">
                    <user-link [user]="item.user"></user-link>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <ng-container *ngIf="item.allowed">Povoleno</ng-container>
                    <ng-container *ngIf="!item.allowed">Zakázáno</ng-container>
                </h6>
                <p class="card-text">{{item.note}}</p>
                <list-button [classList]="['mr-1']" title="Zobrazit detail" (clicked)="openAccessMemberDetail(item)" icon="info"></list-button>
                <list-button [classList]="['mr-1']" title="Povolit přístup" (clicked)="setAccess(item, true)" icon="unlock" *ngIf="!item.allowed">
                </list-button>
                <list-button [classList]="['mr-1']" title="Zakázat přístup" *ngIf="item.allowed" (clicked)="setAccess(item, false)" icon="lock">
                </list-button>
            </div>
        </div>
    </div>
</data-list>

<form [formGroup]="createMemberForm" class="mt-3" (ngSubmit)="submitForm()">
    <h5 class="font-weight-normal">Přidat člena</h5>
    <div class="form-row">
        <div class="col-md-3">
            <label>Člen</label>
            <selector [items]="users" formControlName="user"></selector>
            <span *ngIf="isInvalid('user')" class="text-danger">
                <small *ngIf="isInvalid('user', 'required')">Výběr člena je povinný.</small>
            </span>
        </div>

        <div class="col-md-2">
            <label>&nbsp;</label>
            <app-checkbox formControlName="allowed" [label]="'Přístup povolen'" [id]="'allowed'"></app-checkbox>
        </div>

        <div class="col-md-3 mb-3">
            <label>Poznámka</label>
            <input type="text" class="form-control" formControlName="note" />
        </div>

        <div class="col-md-3 d-flex align-items-end">
            <button class="btn btn-success" [disabled]="!createMemberForm.dirty || createMemberForm.invalid">Přidat</button>
        </div>
    </div>
</form>
