<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <span class="brand-link">
        <img src="./assets/logo_horizontalni_white.svg" alt="AssocIS" />
    </span>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex" *ngIf="loggedUser">
            <div class="image">
                <img src="data:image/png;base64,{{profilePicture}}" class="img-circle elevation-2" alt="{{loggedUser.completeName}}"
                    *ngIf="profilePicture">
            </div>
            <div class="info">
                <a routerLink="/app/users/{{loggedUser.id}}" class="d-block">{{loggedUser.completeName}}</a>
            </div>
        </div>

        <nav class="mt-2">
            <app-menu></app-menu>
        </nav>
    </div>
</aside>
