.brand-link:hover {
    color: rgba(255, 255, 255, 0.8) !important;
}

.nav-link {
    cursor: pointer;
}

.image img {
    width: 32px;
    height: 32px;
}

.brand-link {
    text-align: center;

    & img {
        width: 210px;
    }
}
