<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="./assets/logo_horizontalni.svg" alt="AssocIS" />
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Pro přístup do systému se prosím přihlašte</p>

                <form [formGroup]="form" (ngSubmit)="formSubmit()">
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="text" formControlName="username" class="form-control"
                                [class.border-danger]="username.touched && username.invalid" placeholder="Uživatelské jméno*" />
                            <div class="input-group-append">
                                <div class="input-group-text" [class.border-danger]="username.touched && username.invalid"
                                    [class.border-success]="username.valid && username.touched">
                                    <span class="fas fa-user" [class.text-danger]="username.touched && username.invalid"
                                        [class.text-success]="username.touched && username.valid"></span>
                                </div>
                            </div>
                        </div>
                        <small class="text-danger mt-0" *ngIf="username.touched && username.invalid">Uživatelské jméno je povinné.</small>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="password" formControlName="password" class="form-control"
                                [class.border-danger]="password.touched && password.invalid" placeholder="Heslo*" />
                            <div class="input-group-append">
                                <div class="input-group-text" [class.border-danger]="password.touched && password.invalid"
                                    [class.border-success]="password.touched && password.valid">
                                    <span class="fas fa-lock" [class.text-danger]="password.touched && password.invalid"
                                        [class.text-success]="password.touched && password.valid"></span>
                                </div>
                            </div>
                        </div>
                        <small class="text-danger mt-0" *ngIf="password.touched && password.invalid">Heslo je povinné.</small>
                        <small class="text-danger" *ngIf="loginErrorMessage">{{loginErrorMessage}}</small>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block" [disabled]="username.invalid || password.invalid">Přihlásit se</button>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- Nebo -</p>
                    <a href="{{oAuth2Links?.discord}}" class="btn btn-block btn-blurple" [class.disabled]="!oAuth2Links?.discord">
                        <i class="fas fa-spin fa-circle-notch mr-2" *ngIf="!oAuth2Links"></i>
                        <i class="fab fa-discord"></i>
                        Discord
                    </a>
                    <a href="{{oAuth2Links?.google}}" class="btn btn-block btn-danger" [class.disabled]="!oAuth2Links?.google">
                        <i class="fas fa-spin fa-circle-notch mr-2" *ngIf="!oAuth2Links"></i>
                        <i class="fab fa-google"></i>
                        Google
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
