.login-page {
    & .login-box {
        & .login-logo {
            text-align: center;

            & img {
                width: 320px;
                height: 105px;
            }
        }
    }
}
