<common-dashboard [padding]="false">
    <app-asset-loan-filter filter (filterChanged)="list.filterChanged($event)"></app-asset-loan-filter>
    <app-asset-loan-list list #list [asset]="asset"></app-asset-loan-list>
</common-dashboard>
