<div class="pt-3">
    <app-loading *ngIf="!team"></app-loading>
</div>

<app-card *ngIf="team" [title]="'Informace'" [icon]="'fa-user-friends'" [isHideable]="false">
    <form body [formGroup]="form">
        <div class="form-row">
            <div class="col-md-1">
                <label>ID</label>
                <input type="text" readonly value="{{team.id}}" class="form-control" />
            </div>

            <div class="col-md-3">
                <label>Jméno*</label>
                <input type="text" formControlName="name" class="form-control" title="Jméno týmu je povinné" />
                <span *ngIf="isInvalid('name')" class="text-danger">
                    <small *ngIf="isInvalid('name', 'required')">Jméno týmu je povinné.</small>
                    <small *ngIf="isInvalid('name', 'maxlength')">Maximální délka názvu týmu 100 znaků byla překročena.</small>
                    <small *ngIf="isInvalid('name', 'unique')">Jméno týmu musí být unikátní.</small>
                </span>
            </div>

            <div class="col-md-3" *ngIf="roles">
                <label>Discord role</label>
                <selector [items]="roles" [searchable]="true" formControlName="discordRoleId"></selector>
                <app-checkbox formControlName="createDiscordRole" [label]="'Vytvořit roli automaticky'" [id]="'createDiscordRole'"
                    title="Po potvrzení formuláře automaticky kontaktuje bota s požadavkem na vytvoření role."></app-checkbox>
            </div>

            <div class="col-md-3">
                <label>Vedoucí</label>
                <selector [items]="users" formControlName="leader"></selector>
            </div>
        </div>

        <div class="form-row pt-2">
            <div class="col-md-2">
                <label>Vytvořeno</label>
                <input type="datetime-local" readonly value="{{team.createdAt?.toLocaleISOString()?.slice(0, 16)}}" class="form-control" />
            </div>

            <div class="col-md-2">
                <label>Počet členů</label>
                <input type="number" readonly value="{{(team.membersCount || 0)}}" class="form-control" />
            </div>
        </div>

        <div class="form-row pt-2">
            <div class="col-md">
                <label>Popis</label>
                <textarea formControlName="description" class="form-control textarea-form"></textarea>
            </div>
        </div>

        <div class="form-row pt-2">
            <div class="col-md-8">
                <label>Google skupiny</label>

                <div class="row mb-1" formArrayName="googleGroups" *ngFor="let item of googleGroups.controls; let i = index">
                    <div [formGroupName]="i" class="col-md">
                        <input type="text" class="form-control form-control-sm mr-2" formControlName="groupMail" />
                    </div>

                    <div class="col-md-auto">
                        <button class="btn btn-danger btn-sm" (click)="removeGoogleGroupRow(i)" title="Odebrat skupinu">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <input type="email" #newGoogleGroupInput class="form-control form-control-sm mr-3">
                    </div>

                    <div class="col-md-auto">
                        <button class="btn btn-success btn-sm" (click)="addGoogleGroupRow(newGoogleGroupInput.value)">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md d-flex justify-content-end align-items-end">
                <button class="btn btn-success" [disabled]="form.invalid" (click)="submitForm()">Uložit změny</button>
            </div>
        </div>
    </form>
</app-card>

<div class="mt-3 mb-3">
    <app-card *ngIf="team && !isCreate" [title]="'Členové týmu'" [icon]="'fa-users'" [isHideable]="false">
        <app-team-members-list [team]="team" body></app-team-members-list>
    </app-card>
</div>
