<div class="pt-3 pb-3">
    <app-loading *ngIf="!isLoaded"></app-loading>

    <div class="row" *ngIf="isLoaded">
        <div class="col-md-6 text-center">
            <h4 class="font-weight-normal">Částky</h4>
            <canvas baseChart [data]="amountData" [chartType]="'pie'" [legend]="true" [plugins]="plugins" [options]="options" [labels]="labels"></canvas>
        </div>

        <div class="col-md-6 text-center">
            <h4 class="font-weight-normal">Počet transakcí</h4>
            <canvas baseChart [data]="countData" [chartType]="'pie'" [legend]="true" [plugins]="[]" [options]="options" [labels]="labels"></canvas>
        </div>
    </div>
</div>
