<div class="pt-3">
    <app-loading *ngIf="!asset"></app-loading>
</div>

<app-card *ngIf="asset">
    <ng-container body>
        <ul body ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTabId">
            <li [ngbNavItem]="'basic_info'">
                <a ngbNavLink>Základní informace</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="form" class="p-3" (ngSubmit)="submitForm()">
                        <div class="form-row">
                            <div class="col-md-3">
                                <label>Název*</label>
                                <input type="text" class="form-control" formControlName="name">
                                <span *ngIf="isInvalid('name')" class="text-danger">
                                    <small *ngIf="isInvalid('name', 'required')">Název položky je povinný.</small>
                                    <small *ngIf="isInvalid('name', 'maxlength')">Maximální délka názvu položky 100 znaků byla překročena.</small>
                                </span>
                            </div>

                            <div class="col-md-3">
                                <label>Umístění</label>
                                <input type="text" class="form-control" formControlName="location" />
                            </div>

                            <div class="col-md-4 ml-4">
                                <label>&nbsp;</label>
                                <checkbox-bitmask [options]="assetFlags" formControlName="flags"></checkbox-bitmask>
                            </div>
                        </div>

                        <div class="form-row mt-3">
                            <div class="col-md-6">
                                <label>Kategorie</label>
                                <multiselect [items]="categories" formControlName="categories"></multiselect>
                            </div>

                            <div class="col-md-3">
                                <label>Počet</label>
                                <input type="number" formControlName="count" class="form-control">
                            </div>
                        </div>

                        <div class="form-row mt-3">
                            <div class="col-md-9">
                                <label>Popis</label>
                                <textarea class="form-control textarea-form" formControlName="description"></textarea>
                            </div>

                            <div class="col-md-3 d-flex justify-content-end align-items-end">
                                <button class="btn btn-success" [disabled]="form.invalid">Uložit změny</button>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </li>

            <li [ngbNavItem]="'loans'" *ngIf="!isCreate">
                <a ngbNavLink>Výpůjčky</a>
                <ng-template ngbNavContent>
                    <app-asset-loan-dashboard [asset]="asset"></app-asset-loan-dashboard>
                </ng-template>
            </li>

            <li [ngbNavItem]="'inventory'" *ngIf="!isCreate">
                <a ngbNavLink>Záznamy inventur</a>
                <ng-template ngbNavContent>
                    <app-asset-inventory-dashboard [asset]="asset"></app-asset-inventory-dashboard>
                </ng-template>
            </li>

            <li [ngbNavItem]="'stickers'" *ngIf="!isCreate">
                <a ngbNavLink>Inventární štítek</a>
                <ng-template ngbNavContent>
                    <div class="p-3">
                        <app-asset-labels [asset]="asset"></app-asset-labels>
                    </div>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="border border-top-0"></div>
    </ng-container>
</app-card>
