<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                <i class="fas fa-bars"></i>
            </a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto mr-1">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li *ngFor="let breadcrumb of breadcrumbs; let i = index" class="breadcrumb-item">
                    <ng-container *ngIf="i != breadcrumbs.length - 1">
                        <a [routerLink]="breadcrumb.url">{{breadcrumb.name}}</a>
                    </ng-container>

                    <ng-container *ngIf="i == breadcrumbs.length - 1">
                        {{breadcrumb.name}}
                    </ng-container>
                </li>
            </ol>
        </div>
    </ul>
</nav>
