<ng-select [items]="items" [bindLabel]="'value'" [bindValue]="'key'" (change)="onValueChange()" [(ngModel)]="selectedItem" (blur)="onBlur()"
    [clearable]="false" [editableSearchTerm]="searchable" [disabled]="disabled">
    <ng-template ng-label-tmp let-item="item">
        <i *ngIf="item.icon" class="{{item.icon}}"></i>
        <span class="ml-1">{{item.value}}</span>
    </ng-template>

    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <i *ngIf="item.icon" class="{{item.icon}}"></i>
        <span class="ml-1">{{item.value}}</span>
    </ng-template>
</ng-select>
