<div class="pt-3"></div>

<app-card [title]="'Notifikace externích systémů'" [icon]="'fa-bullhorn'" [isHideable]="false">
    <form body [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Typ klienta*</label>
                <selector [items]="clientTypes" formControlName="clientType"></selector>
                <span *ngIf="isInvalid('clientType')" class="text-danger">
                    <small *ngIf="isInvalid('clientType', 'required')">Typ klienta je povinný.</small>
                </span>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-12">
                <label>Obsah zprávy*</label>
                <textarea class="form-control textarea-form" formControlName="content"></textarea>
                <span *ngIf="isInvalid('content')" class="text-danger">
                    <small *ngIf="isInvalid('content', 'required')">Obsah zprávy je povinný.</small>
                </span>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-12 d-flex justify-content-end align-items-end">
                <button class="btn btn-success" [disabled]="form.invalid">Odeslat</button>
            </div>
        </div>
    </form>
</app-card>
