<div class="row" [class.pt-3]="padding">
    <div class="col">
        <ng-content select="[filter]"></ng-content>
    </div>
</div>

<div class="row" [class.pt-3]="padding">
    <div class="col">
        <ng-content search="[list]"></ng-content>
    </div>
</div>
