.only-mobile {
    display: none;
}

.list-card.card {
    width: 245px;

    & .card-body {
        & .card-title {
            float: none;
        }

        & .card-subtitle {
            margin-top: 0;
        }
    }
}

.mobile {
    & .only-mobile {
        display: block;
    }

    & data-list {
        & .card-list {
            justify-content: center;

            & .card {
                width: 100% !important;
                margin-right: 0 !important;
            }
        }
    }

    & .canvas {
        width: initial !important;

        & .qr {
            width: 100% !important;
        }
    }
}
