selector:not([no-validation]) {
    &.ng-invalid.ng-touched {
        & .ng-select-container {
            border: 1px solid $danger !important;
        }
    }

    &.ng-valid.ng-touched {
        & .ng-select-container {
            border: 1px solid $success !important;
        }
    }
}

multiselect:not([no-validation]) {
    & .ng-invalid.ng-touched {
        & .ng-select-container {
            border: 1px solid $danger !important;
        }
    }

    & .ng-valid.ng-touched {
        & .ng-select-container {
            border: 1px solid $success !important;
        }
    }
}
