<div class="pt-3">
    <app-loading *ngIf="!meeting"></app-loading>
</div>

<app-card *ngIf="meeting" [title]="'Informace o schůzi'" [icon]="'fa-handshake'" [isHideable]="false">
    <form body [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Název</label>
                <input type="text" class="form-control" formControlName="name" />
                <span *ngIf="isInvalid('name')" class="text-danger">
                    <small *ngIf="isInvalid('name', 'required')">Název schůze je povinný.</small>
                    <small *ngIf="isInvalid('name', 'maxlength')">Maximální délka názvu schůze 100 znaků byla překročena.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Datum a čas schůze</label>
                <input type="datetime-local" class="form-control" formControlName="at" />
                <span *ngIf="isInvalid('at')" class="text-danger">
                    <small *ngIf="isInvalid('at', 'required')">Datum a čas schůze je povinné.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Očekávaný konec</label>
                <input type="datetime-local" class="form-control" formControlName="expectedEnd" />
                <span *ngIf="isInvalid('expectedEnd')" class="text-danger">
                    <small *ngIf="isInvalid('expectedEnd', 'required')">Očekávaný konec je povinný.</small>
                    <small *ngIf="isInvalid('expectedEnd', 'dateInterval')">Očekávaný konec musí být v budoucnosti (po začátku schůze).</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Stav</label>
                <selector [items]="meetingStates" formControlName="state"></selector>
                <span *ngIf="isInvalid('state')" class="text-danger">
                    <small *ngIf="isInvalid('state', 'required')">Stav schůze je povinný.</small>
                </span>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-3">
                <label>Docházka</label>
                <selector [items]="meetingAttendanceTypes" formControlName="attendanceType"></selector>
                <span *ngIf="isInvalid('attendanceType')" class="text-danger">
                    <small *ngIf="isInvalid('attendanceType', 'required')">Stav schůze je povinný.</small>
                </span>
            </div>

            <div class="col-md-6">
                <label>Místo schůze</label>
                <input type="text" formControlName="location" class="form-control" />
            </div>
        </div>

        <div class="form-row mt-3" *ngIf="haveHigherPerms || meeting.agenda?.length > 0">
            <div class="col-md-12">
                <label>Program</label>

                <div class="row mb-3" formArrayName="agenda" *ngFor="let item of agenda.controls; let i = index">
                    <div [formGroupName]="i" class="col-md">
                        <input type="text" class="form-control mr-3" formControlName="text" />
                    </div>
                    <div class="col-md-auto" *ngIf="haveHigherPerms">
                        <button class="btn btn-danger" (click)="removeAgendaRow(i)">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="row" *ngIf="haveHigherPerms">
                    <div class="col-md">
                        <input type="text" #newAgendaInput class="form-control mr-3">
                    </div>

                    <div class="col-md-auto">
                        <button class="btn btn-success" (click)="addAgendaRow(newAgendaInput.value)">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-6">
                <label>Report</label>
                <textarea class="form-control textarea-form" formControlName="report"></textarea>
            </div>

            <div class="col-md-6">
                <label>
                    Dodatečná zpráva
                    <i class="fas fa-info-circle" title="Zpráva, kterou budete chtít připojit při odesílání oznámení o schůzi."></i>
                </label>
                <textarea class="form-control textarea-form" formControlName="message"></textarea>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-12 d-flex justify-content-end align-items-end">
                <button type="button" class="btn btn-warning mr-3" *ngIf="meeting.canApologize" title="Omluví se ze schůze (nebude přítomen)"
                    (click)="apologize()">Omluvit se</button>
                <button type="submit" class="btn btn-success" [disabled]="form.invalid" *ngIf="haveHigherPerms">Uložit změny</button>
            </div>
        </div>
    </form>
</app-card>

<div class="mt-3 mb-3" *ngIf="!isCreate && meeting">
    <app-card>
        <ng-container body>
            <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTabId">
                <li [ngbNavItem]="'details'">
                    <a ngbNavLink>Podrobnosti</a>
                    <ng-template ngbNavContent>
                        <div class="row p-3">
                            <div class="col-md-3">
                                <label>Poslední oznámení</label>
                                <input type="datetime-local" value="{{meeting.lastNotifiedAt?.toLocaleISOString()?.slice(0, 16)}}" readonly
                                    class="form-control" />
                            </div>

                            <div class="col-md-3">
                                <label>Přítomnost přihlášeného člena</label>
                                <input type="text" readonly value="{{meeting.formatedPresence}}" class="form-control" />
                            </div>

                            <div class="col-md-6">
                                <app-log-data [logData]="meeting.logData" [noExternalContent]="true"></app-log-data>
                            </div>
                        </div>
                    </ng-template>
                </li>

                <li [ngbNavItem]="'presence'" *ngIf="meeting.isSummoned && haveHigherPerms">
                    <a ngbNavLink>Docházka</a>
                    <ng-template ngbNavContent>
                        <div class="row p-3">
                            <div class="col-md-12">
                                <app-meeting-presence [meeting]="meeting"></app-meeting-presence>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="border border-top-0"></div>
        </ng-container>
    </app-card>
</div>
