<app-card [title]="'Filtr'" [icon]="'fa-search'">
    <form [formGroup]="form" body (ngSubmit)="submitFilter()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Účastník pohovoru</label>
                <selector [items]="users" formControlName="userId"></selector>
            </div>

            <div class="col-md-3">
                <label>Vedoucí pohovoru</label>
                <selector [items]="users" formControlName="leaderUserId"></selector>
            </div>

            <div class="col-md-3">
                <label>Datum od</label>
                <input class="form-control" formControlName="from" title="Počáteční datum rozsahu, kdy byl pohovor proveden." type="datetime-local" />
                <span *ngIf="isInvalid('from')" class="text-danger">
                    <small *ngIf="isInvalid('from', 'dateInterval')">Datum a čas od/do nejsou ve správném intervalu.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Datum do</label>
                <input class="form-control" formControlName="to" title="Koncové datum rozsahu, kdy byl pohovor proveden" type="datetime-local" />
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-12 d-flex align-items-end justify-content-end">
                <button class="btn btn-danger mr-2" (click)="resetFilter()">Smazat filtr</button>
                <button class="btn btn-success" [disabled]="form.invalid">Potvrdit</button>
            </div>
        </div>
    </form>
</app-card>
