<app-card [title]="'Filtr'" [icon]="'fa-search'">
    <form [formGroup]="form" body (ngSubmit)="submitFilter()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Vyhledávání v názvu</label>
                <input type="text" formControlName="nameQuery" class="form-control" />
            </div>

            <div class="col-md-3">
                <label>Od</label>
                <input type="datetime-local" formControlName="from" class="form-control" />
                <span *ngIf="isInvalid('from')" class="text-danger">
                    <small *ngIf="isInvalid('from', 'dateInterval')">Datum a čas od/do nejsou ve správném intervalu.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Do</label>
                <input type="datetime-local" formControlName="to" class="form-control" />
            </div>

            <div class="col-md-3">
                <label>Autor schůze</label>
                <selector [items]="users" formControlName="author"></selector>
            </div>
        </div>

        <div class="form-row pt-3">
            <div class="col-md-3">
                <label>Vyhledávání v agendě</label>
                <input type="text" class="form-control" formControlName="agendaQuery" />
            </div>

            <div class="col-md-3">
                <label>Vyhledávání v reportu</label>
                <input type="text" class="form-control" formControlName="reportQuery" />
            </div>

            <div class="col-md-3">
                <label>Vyhledávání ve zprávě</label>
                <input type="text" class="form-control" formControlName="messageQuery" />
            </div>

            <div class="col-md-3">
                <label>Stav schůze</label>
                <multiselect formControlName="meetingStates" [items]="meetingStates"></multiselect>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-3">
                <label>Typ přítomnosti</label>
                <multiselect formControlName="attendanceTypes" [items]="meetingAttendanceTypes"></multiselect>
            </div>

            <div class="col-md-9 d-flex align-items-end justify-content-end">
                <button class="btn btn-danger mr-2" (click)="resetFilter()">Smazat filtr</button>
                <button class="btn btn-success">Potvrdit</button>
            </div>
        </div>
    </form>
</app-card>
