<div class="pt-3">
    <app-loading *ngIf="!transaction"></app-loading>
</div>

<app-card [title]="'Základní informace'" [icon]="'fa-file-invoice'" *ngIf="transaction">
    <form body [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Název*</label>
                <input type="text" formControlName="name" class="form-control" />
                <span *ngIf="isInvalid('name')" class="text-danger">
                    <small *ngIf="isInvalid('name', 'required')">Název transakce je povinné.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Typ*</label>
                <selector [items]="transactionTypes" formControlName="type"></selector>
                <span *ngIf="isInvalid('type')" class="text-danger">
                    <small *ngIf="isInvalid('type', 'required')">Typ transakce je povinný.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Účet*</label>
                <selector [items]="accounts" formControlName="account"></selector>
                <span *ngIf="isInvalid('account')" class="text-danger">
                    <small *ngIf="isInvalid('account', 'required')">Účet je povinný.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Dodavatel</label>
                <selector [items]="suppliers" formControlName="supplier"></selector>
                <span *ngIf="isInvalid('supplier')">
                </span>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-3">
                <label>Zpracováno*</label>
                <input type="datetime-local" formControlName="processedAt" class="form-control" />
                <span *ngIf="isInvalid('processedAt')" class="text-danger">
                    <small *ngIf="isInvalid('processedAt', 'required')">Datum a čas zpracování je povinný.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Částka*</label>
                <input type="number" formControlName="amount" class="form-control" min="0" />
                <span *ngIf="isInvalid('amount')" class="text-danger">
                    <small *ngIf="isInvalid('amount', 'required')">Částka je povinná.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Kategorie</label>
                <multiselect [items]="categories" formControlName="categories"></multiselect>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-9">
                <label>Poznámka</label>
                <textarea formControlName="note" class="form-control textarea-form"></textarea>
            </div>

            <div class="col-md-3 d-flex align-items-end justify-content-end">
                <button class="btn btn-success" [disabled]="form.invalid">Uložit změny</button>
            </div>
        </div>
    </form>
</app-card>

<div class="mt-3 pb-3" *ngIf="!isCreate && transaction">
    <app-card>
        <ng-container body>
            <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTabId">
                <li [ngbNavItem]="'log'">
                    <a ngbNavLink>Historie</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-md-6">
                                <app-log-data [logData]="transaction.logData"></app-log-data>
                            </div>
                        </div>
                    </ng-template>
                </li>

                <li [ngbNavItem]="'attachments'">
                    <a ngbNavLink>Přílohy</a>
                    <ng-template ngbNavContent>
                        <app-tranaction-attachments [transaction]="transaction"></app-tranaction-attachments>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="border border-top-0"></div>
        </ng-container>
    </app-card>
</div>
