<app-card [title]="'Filtr'" [icon]="'fa-search'">
    <form body [formGroup]="form" (ngSubmit)="submitFilter()">
        <div class="form-row">
            <div class="col-md-4">
                <label>Vyhledávání</label>
                <input type="text" formControlName="nameQuery" class="form-control" />
            </div>

            <div class="col-md-3">
                <label>Kategorie</label>
                <multiselect [items]="categories" formControlName="categories"></multiselect>
            </div>

            <div class="col-md-3">
                <label>Dostupnost</label>
                <selector [items]="availability" formControlName="isAvailable"></selector>
            </div>

            <div class="col-md-2">
                <label>&nbsp;</label>
                <app-checkbox [label]="'Zobrazit smazané'" formControlName="includeRemoved" [id]="'includeRemoved'"></app-checkbox>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-12 d-flex justify-content-end align-items-end">
                <button class="btn btn-danger mr-1" (click)="resetFilter()">Smazat filtr</button>
                <button class="btn btn-success">Potvrdit</button>
            </div>
        </div>
    </form>
</app-card>
