<div class="pt-3">
    <app-loading *ngIf="!client"></app-loading>
</div>

<app-card [title]="'Informace o klientovi'" [icon]="'fa-user'" [isHideable]="false" *ngIf="client">
    <form body [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-row mb-3" *ngIf="!isCreate && client">
            <div class="col-md-1">
                <label>ID</label>
                <input type="number" readonly value="{{client.id}}" class="form-control" title="Interní identifikátor" />
            </div>

            <div class="col-md">
                <label>Přístupový identifikátor</label>
                <input type="text" readonly value="{{client.clientId}}" class="form-control" />
            </div>

            <div class="col-md">
                <label>Vytvořeno</label>
                <input type="datetime-local" readonly value="{{client.createdAt?.toLocaleISOString()?.slice(0, 16)}}" class="form-control" />
            </div>

            <div class="col-md">
                <label>Naposledy použit</label>
                <input type="datetime-local" readonly value="{{client.lastAccess.toLocaleISOString()?.slice(0, 16)}}" class="form-control"
                    *ngIf="client.lastAccess" />
                <input type="text" readonly value="Nepoužit" class="form-control" *ngIf="!client.lastAccess" />
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3">
                <label>Název klienta</label>
                <input type="text" formControlName="name" class="form-control" />
                <span *ngIf="isInvalid('name')" class="text-danger">
                    <small *ngIf="isInvalid('name', 'required')">Název klienta je povinný.</small>
                    <small *ngIf="isInvalid('name', 'maxlength')">Název klienta může mít maximálně 100 znaků.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Typ</label>
                <selector [items]="clientTypes" formControlName="clientType"></selector>
                <span *ngIf="isInvalid('clientType')" class="text-danger">
                    <small *ngIf="isInvalid('name', 'required')">Typ klienta je povinný.</small>
                </span>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-9">
                <label>Popis</label>
                <textarea class="form-control textarea-form" formControlName="description"></textarea>
            </div>

            <div class="col-md-3 d-flex justify-content-end align-items-end">
                <button class="btn btn-success" [disabled]="form.invalid">Uložit změny</button>
            </div>
        </div>
    </form>
</app-card>
