<ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-accordion="true">
    <li class="nav-item">
        <a [routerLink]="'/app'" class="nav-link" [class.active]="router.url === '/app'">
            <i class="nav-icon fas fa-home"></i>
            <p>Domů</p>
        </a>
    </li>
    <li class="nav-header"></li>
    <ng-container *ngFor="let item of items">
        <li class="nav-item" *ngIf="item.hasSomePermission(loggedUser)" [class.menu-open]="item.isExpanded" (click)="toggleOpenState(item, $event)">
            <a class="nav-link ptr">
                <i class="nav-icon fas {{item.icon}}"></i>
                <p>
                    {{item.title}}
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <ng-container *ngFor="let subItem of item.items">
                    <li *ngIf="subItem.hasPermission(loggedUser)" class="nav-item">
                        <a [routerLink]="subItem.link" class="nav-link" [class.active]="subItem.isActive(router)">
                            <i class="fas {{subItem.icon}} nav-icon"></i>
                            <p>{{subItem.title}}</p>
                        </a>
                    </li>
                </ng-container>
            </ul>
        </li>
    </ng-container>
    <li class="nav-header"></li>
    <li class="nav-item">
        <a (click)="logout()" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Odhlásit se</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link only-mobile" data-widget="pushmenu" href="#" role="button">
            <i class="nav-icon fas fa-bars"></i>
            <p>Skrýt panel</p>
        </a>
    </li>
</ul>
