<app-card [radius]="false">
    <data-list body #list (readData)="readData($event)">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <div class="d-flex flex-wrap" *ngIf="list.isDataLoaded">
            <div class="card list-card mr-3" *ngFor="let item of list.items">
                <div class="card-body">
                    <h5 class="card-title">
                        <user-link [user]="item.user"></user-link>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{item.at.toLocaleString()}}</h6>
                    <p class="card-text">Počet: {{item.count}}</p>
                    <list-button (clicked)="showNote(item)" [classList]="['mr-1']" title="Zobrazit poznámku" *ngIf="item.note" icon="sticky-note"
                        iconGroup="far"></list-button>
                </div>
            </div>
        </div>
    </data-list>
</app-card>
