<app-card [title]="'Seznam týmů'" [icon]="'fa-user-friends'" [isHideable]="false">
    <data-list body #list (readData)="readData($event)">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <div class="d-flex flex-wrap" *ngIf="list.isDataLoaded">
            <div class="card list-card mr-3" *ngFor="let team of list.items">
                <div class="card-body">
                    <h5 class="card-title">{{team.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Počet členů: {{team.membersCount}}
                    </h6>
                    <p class="card-text">
                        <user-link [user]="team.leader"></user-link>
                    </p>
                    <list-button link="/app/teams/{{team.id}}" [classList]="['mr-1']" title="Upravit tým" icon="edit"></list-button>
                    <list-button (clicked)="removeTeam(team)" *ngIf="team.canRemove" icon="trash-alt" iconGroup="far"></list-button>
                </div>
            </div>
        </div>
    </data-list>
</app-card>
