<div class="pt-3">
    <app-loading *ngIf="!supplier"></app-loading>
</div>

<app-card [title]="'Informace o dodavateli'" [icon]="'fa-truck-moving'" [isHideable]="false" *ngIf="supplier">
    <form body [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Název*</label>
                <input type="text" class="form-control" formControlName="name" />
                <span *ngIf="isInvalid('name')" class="text-danger">
                    <small *ngIf="isInvalid('name', 'required')">Jméno dodavetele je povinné.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Odkaz na web</label>
                <input type="url" class="form-control" formControlName="webLink" />
                <span *ngIf="isInvalid('webLink')" class="text-danger">
                    <small *ngIf="isInvalid('webLink','url')">Zadaný odkaz je neplatný.</small>
                </span>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-6">
                <label>Kontakt</label>
                <textarea class="form-control textarea-form" formControlName="contact"></textarea>
            </div>

            <div class="col-md-6">
                <label>Poznámka</label>
                <textarea class="form-control textarea-form" formControlName="note"></textarea>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-12 d-flex justify-content-end align-items-end">
                <button class="btn btn-success" [disabled]="form.invalid">Uložit změny</button>
            </div>
        </div>
    </form>
</app-card>

<div class="pt-3">
    <app-card *ngIf="supplier && !isCreate">
        <div body class="row">
            <div class="col-md-9">
                <app-log-data [logData]="supplier.logData" [padding]="false"></app-log-data>
            </div>
        </div>
    </app-card>
</div>
