<app-card [radius]="false">
    <form body [formGroup]="form" (ngSubmit)="submitFilter()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Provedl člen</label>
                <selector [items]="users" formControlName="userId"></selector>
            </div>

            <div class="col-md-9 d-flex justify-content-end align-items-end">
                <button class="btn btn-danger mr-1" (click)="resetFilter()">Smazat filtr</button>
                <button class="btn btn-success">Potvrdit</button>
            </div>
        </div>
    </form>
</app-card>
