﻿<p>Ahoj</p>

Během vytvoření tvého účtu v systému spolku ti byl také založen GSuite účet. Níže najdeš prvotní přihlašovací údaje ke svému účtu. Při prvním přihlášení budeš požádán o změnu hesla.

<div>
    <h3>
        Email:
        <i>{{Property.GooglePrimaryEmail}}</i>
    </h3>
    <h4>
        Heslo:
        <i><code>{{Password}}</code></i>
    </h4>
</div>