﻿<p>Ahoj</p>

Byla svolána schůze, na které jsi očekáván. Níže se dozvíš všechny informace o schůzi, jako je program, kdy, kde a podobné informace.

<h3>Informace o schůzi:</h3>
<ul>
    <li>Název schůze: <b>{{Property.Name}}</b></li>
    <li>Kdy: <b>{{Property.At}}</b></li>
    <li>Schůzi založil: <b>{{CreatedBy.FormatedName}} ({{CreatedBy.Email}})</b></li>
    <li>
        Program schůze:<br />
        <b>{{FormatedAgenda}}</b>
    </li>
</ul>

<div>
    {{Property.Message}}
</div>
