<app-card [title]="'Filtr'" [icon]="'fa-search'">
    <form body [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Vyhledávání v názvu</label>
                <input type="text" formControlName="nameQuery" class="form-control" />
            </div>

            <div class="col-md-3">
                <label>Kód banky</label>
                <input type="text" formControlName="bankCode" class="form-control" />
            </div>

            <div class="col-md-3">
                <label>Vyhledávání dle čísla účtu</label>
                <input type="text" formControlName="accountNumberQuery" class="form-control" />
            </div>

            <div class="col-md-3 d-flex align-items-end justify-content-end">
                <button class="btn btn-danger mr-1">Smazat filtr</button>
                <button class="btn btn-success">Potvrdit</button>
            </div>
        </div>
    </form>
</app-card>
