<app-card [title]="'Seznam pohovorů'" [icon]="'fa-comments'" [isHideable]="false">
    <ng-container body>
        <data-list #datalist (readData)="readData($event)">
            <app-loading *ngIf="!datalist.isDataLoaded"></app-loading>

            <div class="d-flex flex-wrap" *ngIf="datalist.isDataLoaded">
                <div class="card list-card mr-3" *ngFor="let item of datalist.items">
                    <div class="card-body">
                        <h5 class="card-title" title="Účastník">
                            <user-link [user]="item.user"></user-link>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted" title="Vedoucí">
                            <user-link [user]="item.leader"></user-link>
                        </h6>
                        <p class="card-text">{{item.at.toLocaleString()}}</p>
                        <list-button link="/app/users/interviews/{{item.id}}" icon="edit" [classList]="['mr-1']" title="Upravit pohovor">
                        </list-button>
                        <list-button title="Smazat pohovor" (clicked)="removeInterview(item)" icon="trash-alt" iconGroup="far"></list-button>
                    </div>
                </div>
            </div>
        </data-list>
    </ng-container>
</app-card>
