<app-card [title]="'Filtr'" [icon]="'fa-search'">
    <form body [formGroup]="form" (ngSubmit)="submitFilter()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Vyhledávání</label>
                <input type="text" class="form-control" formControlName="nameQuery" />
            </div>

            <div class="col-md-4">
                <app-checkbox [id]="'excludeFuture'" [label]="'Vynechat budoucí'" formControlName="excludeFuture"></app-checkbox>
                <app-checkbox [id]="'excludeOngoing'" [label]="'Vynechat právě probíhající'" formControlName="excludeOngoing"></app-checkbox>
                <app-checkbox [id]="'excludepast'" [label]="'Vynechat proběhlé'" formControlName="excludePast"></app-checkbox>
            </div>

            <div class="col-md-5 d-flex justify-content-end align-items-end">
                <button class="btn btn-danger mr-1" (click)="resetFilter()">Smazat filtr</button>
                <button class="btn btn-success">Potvrdit</button>
            </div>
        </div>
    </form>
</app-card>
