<common-dashboard>
    <app-asset-filter filter (filterChanged)="list.filterChanged($event)" #filter></app-asset-filter>
    <app-asset-list list #list (categoryClick)="filter.categoryClick($event)"></app-asset-list>
</common-dashboard>
