<div class="pt-3">
    <app-loading *ngIf="!status"></app-loading>
</div>

<app-card [icon]="'fa-receipt'" [title]="'Report docházky na schůze'" [isHideable]="false" *ngIf="status">
    <div class="d-flex flex-wrap" body>
        <div class="card list-card mr-3" *ngFor="let item of status">
            <div class="card-body">
                <h5 class="card-title">
                    <user-link [user]="item.user"></user-link>
                </h5>
                <p class="card-text">
                    Přítomen: {{item.presentCount}}<br>
                    Nepřítomen: {{item.absentCount}}<br>
                    Očekáván: {{item.expectedCount}}<br>
                </p>
                <div class="border-top border-bottom mb-2" *ngIf="item.isWarn">
                    <h5 class="fas fa-exclamation-triangle text-warning fs-4 mb-2 mt-2 mr-2"></h5>
                </div>
            </div>
        </div>
    </div>
</app-card>
