<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <p [innerHtml]="text" class="mb-0"></p>
    <ng-content></ng-content>
</div>

<div class="modal-footer">
    <button type="button" *ngIf="!isQuestion" (click)="modal.close(null)" class="btn btn-outline-secondary">Zavřít</button>

    <ng-container *ngIf="isQuestion">
        <button type="button" (click)="modal.close(true)" class="btn btn-outline-success">Ano</button>
        <button type="button" (click)="modal.close(false)" class="btn btn-outline-danger">Ne</button>
    </ng-container>
</div>
