<ng-select [items]="items" [multiple]="true" [bindLabel]="'value'" [bindValue]="'key'" [closeOnSelect]="false" (change)="onValueChange()"
    [(ngModel)]="selectedItems">
    <ng-template ng-label-tmp let-item="item">
        <i *ngIf="item.icon" class="{{item.icon}} pl-1"></i>
        <span class="ml-1 pr-1">{{item.value}}</span>
    </ng-template>

    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <i *ngIf="item.icon" class="{{item.icon}}"></i>
        <span class="ml-1">{{item.value}}</span>
    </ng-template>
</ng-select>
