<div class="pt-3">
    <app-loading *ngIf="!account"></app-loading>
</div>

<app-card [title]="'Základní informace'" [icon]="'fa-cash-register'" [isHideable]="false" *ngIf="account">
    <form body [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Název*</label>
                <input type="text" class="form-control" formControlName="name" />
                <span *ngIf="isInvalid('name')" class="text-danger">
                    <small *ngIf="isInvalid('name', 'required')">Jméno účtu je povinné.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Číslo účtu</label>
                <input type="text" class="form-control" formControlName="accountNumber" />
                <span *ngIf="isInvalid('accountNumber')" class="text-danger">
                    <small *ngIf="isInvalid('accountNumber', 'maxlength')">Číslo účtu může mít maximálně 50 znaků.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Kód banky</label>
                <input type="text" class="form-control" formControlName="bankCode">
                <span *ngIf="isInvalid('bankCode')" class="text-danger">
                    <small *ngIf="isInvalid('bankCode', 'maxlength')">Číslo účtu může mít maximálně 10 znaků.</small>
                </span>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-9">
                <label>Poznámka</label>
                <textarea class="form-control textarea-form" formControlName="note"></textarea>
            </div>

            <div class="col-md-3 d-flex justify-content-end align-items-end">
                <button type="submit" class="btn btn-success" [disabled]="form.invalid">Uložit změny</button>
            </div>
        </div>
    </form>
</app-card>

<div class="mt-3">
    <app-card *ngIf="account && !isCreate">
        <div class="row" body>
            <div class="col-md-3">
                <label>Počet transakcí</label>
                <input type="number" readonly value="{{account.transactionCount}}" class="form-control" />
            </div>

            <div class="col-md-3">
                <label>Stav účtu</label>
                <input type="number" readonly value="{{account.accountState}}" class="form-control" />
            </div>

            <div class="col-md-6">
                <app-log-data [logData]="account.logData"></app-log-data>
            </div>
        </div>
    </app-card>
</div>
