<app-card [title]="'Filtr'" [icon]="'fa-search'">
    <form body [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-row">
            <div class="col-md-4">
                <label>Vyhledávání</label>
                <input type="text" class="form-control" formControlName="nameQuery" />
            </div>

            <div class="col-md-8 d-flex justify-content-end align-items-end">
                <button class="btn btn-danger mr-1" (click)="resetForm()">Smazat filtr</button>
                <button class="btn btn-success" type="submit">Potvrdit</button>
            </div>
        </div>
    </form>
</app-card>
