<app-card [title]="'Transakce'" [icon]="'fa-file-invoice'" [isHideable]="false">
    <data-list body #list (readData)="readData($event)">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <div class="d-flex flex-wrap" *ngIf="list.isDataLoaded">
            <div class="card list-card mr-3" *ngFor="let item of list.items">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <a routerLink="/app/finance/accounts/{{item.account.id}}" class="underlined-link">{{item.account.name}}</a>
                        ({{item.amount}},-)
                    </h6>
                    <h6 class="card-subtitle mb-2 text-muted" title="Zpracováno">
                        {{item.processedAt?.toLocaleString()}}
                    </h6>
                    <p class="card-text">
                        <a *ngIf="item.supplier" routerLink="/app/finance/suppliers/{{item.supplier.id}}"
                            class="underlined-link">{{item.supplier.name}}</a>
                    </p>
                    <div class="border-top border-bottom mb-2 pb-1">
                        <h5 class="fas fa-sign-in-alt fs-4 mb-2 mt-2 mr-2" title="Příchozí transakce" *ngIf="item.isIncoming"></h5>
                        <h5 class="fas fa-sign-out-alt fs-4 mb-2 mt-2 mr-2" title="Odchozí transakce" *ngIf="item.isOutgoing"></h5>

                        <div class="border-top pt-1">
                            <span class="badge badge-secondary mr-1 ptr" (click)="onCategoryClick(category.id)"
                                *ngFor="let category of item.getTopCategories(2)">{{category.name}}</span>
                            <span class="badge badge-secondary" *ngIf="item.categories.length > 2">...</span>
                        </div>
                    </div>
                    <list-button link="/app/finance/transactions/{{item.id}}" title="Upravit transakci" icon="edit"></list-button>
                    <list-button (click)="removeTransaction(item.id)" *ngIf="item.canManage" title="Smazat transakci" icon="trash-alt"
                        [classList]="['ml-1']" iconGroup="far"></list-button>
                </div>
            </div>
        </div>
    </data-list>
</app-card>
