<app-card [title]="'Definice přístupů'" [icon]="'fa-unlock-alt'" [isHideable]="false">
    <data-list body #datalist (readData)="readData($event)">
        <app-loading *ngIf="!datalist.isDataLoaded"></app-loading>

        <div class="d-flex flex-wrap" *ngIf="datalist.isDataLoaded">
            <div class="card list-card mr-3" *ngFor="let item of datalist.items">
                <div class="card-body">
                    <h5 class="card-title">{{item.typeName}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <list-button link="/app/users/access/{{item.id}}" [classList]="['mr-1']" title="Upravit definici přístupu" icon="edit">
                    </list-button>
                    <list-button title="Odebrat definici přístupu" (clicked)="removeAccess(item)" icon="trash-alt" iconGroup="far"></list-button>
                </div>
            </div>
        </div>
    </data-list>
</app-card>
