<div class="pt-3">
    <app-loading *ngIf="!data"></app-loading>
</div>

<app-card [title]="'Diagnostika systému'" [icon]="'fa-stethoscope'" [isHideable]="false" *ngIf="data">
    <div class="row" body>
        <div class="col-md">
            <b>Spuštěno v</b><br>
            {{data.startAt.toLocaleString()}}
        </div>

        <div class="col-md">
            <b>Uptime</b><br>
            {{data.uptime}}
        </div>

        <div class="col-md">
            <b>Aktivní čas</b><br>
            {{data.cpuTime}}
        </div>

        <div class="col-md">
            <b>Využito paměti</b><br>
            {{data.memoryUsed | filesize}}
        </div>

        <div class="col-md">
            <b>Počet požadavků</b><br>
            {{data.requestsCount}}
        </div>

        <div class="col-md d-flex justify-content-end align-items-start">
            <button class="btn btn-success" (click)="refreshData()">Obnovit</button>
        </div>
    </div>
</app-card>
