<common-dashboard>
    <app-transaction-filter filter (filterChanged)="list.filterChanged($event)" #filter></app-transaction-filter>
    <app-transaction-list list #list (categoryItemClick)="filter.categoryClicked($event)"></app-transaction-list>
</common-dashboard>
