<app-card [title]="'Filtr'" [icon]="'fa-search'">
    <form body [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-row">
            <div class="col-md-3">
                <label>Vyhledávání</label>
                <input type="text" class="form-control" formControlName="nameQuery" />
            </div>

            <div class="col-md-3">
                <label>Typy transakce</label>
                <multiselect [items]="transactionTypes" formControlName="transactionTypes"></multiselect>
            </div>

            <div class="col-md-3">
                <label>Účty</label>
                <multiselect [items]="accounts" formControlName="accounts"></multiselect>
            </div>

            <div class="col-md-3">
                <label>Dodavatelé</label>
                <multiselect [items]="suppliers" formControlName="suppliers"></multiselect>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-3">
                <label>Kategorie</label>
                <multiselect [items]="categories" formControlName="categories"></multiselect>
            </div>

            <div class="col-md-3">
                <label>Zpracováno od</label>
                <input type="datetime-local" class="form-control" formControlName="processedFrom" />
                <span *ngIf="isInvalid('processedFrom')" class="text-danger">
                    <small *ngIf="isInvalid('processedFrom', 'dateInterval')">Datum a čas od/do nejsou ve správném intervalu.</small>
                </span>
            </div>

            <div class="col-md-3">
                <label>Zpracováno do</label>
                <input type="datetime-local" class="form-control" formControlName="processedTo" />
            </div>

            <div class="col-md-3 d-flex align-items-end">
                <app-checkbox formControlName="onlyWithAttachments" [id]="'onlyWithAttachments'" [label]="'Pouze transakce s přílohami'">
                </app-checkbox>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col-md-3">
                <label>Částka od</label>
                <input type="number" class="form-control" formControlName="amountFrom" />
            </div>

            <div class="col-md-3">
                <label>Částka do</label>
                <input type="number" class="form-control" formControlName="amountTo" />
            </div>

            <div class="col-md-6 d-flex justify-content-end align-items-end">
                <button class="btn btn-danger mr-1" (click)="resetFilter()">Smazat filtr</button>
                <button class="btn btn-success" [disabled]="form.invalid">Potvrdit</button>
            </div>
        </div>
    </form>
</app-card>
