<common-dashboard [padding]="false">
    <app-asset-inventory-filter filter (filterChanged)="list.filterChanged($event)"></app-asset-inventory-filter>
    <app-asset-inventory-list list #list [asset]="asset"></app-asset-inventory-list>
</common-dashboard>
