<app-card>
    <form class="form-row" [formGroup]="form" body>
        <div class="col-md-4">
            <label>Vyhledávání</label>
            <input type="text" formControlName="textQuery" class="form-control" />
        </div>

        <div class="col-md-3">
            <label>Autor komentáře</label>
            <selector [items]="users" formControlName="createdById"></selector>
        </div>

        <div class="col-md-5 d-flex justify-content-end align-items-end">
            <button class="btn btn-danger" (click)="resetFilter()">Smazat filtr</button>
        </div>
    </form>
</app-card>
