<div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="content-wrapper">
        <div class="content">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <!-- Main Footer -->
    <footer class="main-footer">
        <!--Šablona <a href="https://adminlte.io">AdminLTE.io</a>.-->
        &nbsp;
        <div class="float-right d-none d-sm-inline-block">
            <b>Verze</b> {{appService.clientConfiguration.version}}
        </div>
    </footer>
</div>
