<div class="row pt-3 pl-3 pr-3">
    <div class="col-md-12">
        <div class="d-flex flex-wrap">
            <div class="card list-card mr-3" *ngFor="let item of transaction.attachments">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">

                    </h6>
                    <h6 class="card-subtitle mb-2 text-muted" title="Vytvořeno">
                        {{item.logData.createdAt?.toLocaleString()}}
                    </h6>
                    <p class="card-text">
                        {{item.formatedType}}
                    </p>
                    <div class="border-top border-bottom mb-2 pb-1">
                        Vytvořil<br>
                        <user-link [user]="item.logData.createdBy"></user-link>
                    </div>
                    <list-button (clicked)="removeAttachment(item.id)" *ngIf="transaction.canManage" [classList]="['mr-1']" title="Smazat přílohu"
                        icon="trash-alt" iconGroup="far"></list-button>

                    <list-button (click)="getData(item)" *ngIf="transaction.canManage" [classList]="['mr-1']" title="Stáhnout data"
                        icon="file-download">
                    </list-button>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="row pl-3 mt-3 pb-3" [formGroup]="form" (ngSubmit)="submitUpload()">
    <div class="col-md-3">
        <label class="form-label" for="attachmentFile">Vybrat soubor s přílohou</label>
        <input type="file" id="attachmentFile" class="form-control border-0" #file />
    </div>

    <div class="col-md-3">
        <label>Typ</label>
        <selector [items]="attachmentTypes" formControlName="type"></selector>
    </div>

    <div class="col-md-2 d-flex align-items-end">
        <button class="btn btn-success">Nahrát přílohu</button>
    </div>
</form>
