<div class="row pt-5">
    <div class="col-md-12 d-flex justify-content-center align-items-center flex-column text-secondary">
        <h1>404</h1>
        <h3>V této části asi nenalezneš, co potřebuješ.</h3>

        <div class="mt-3">
            <a class="btn btn-primary" routerLink="/app" *ngIf="authService.isUserLogged()">
                <i class="fas fa-home mr-1"></i>
                Jít domů
            </a>
        </div>
    </div>
</div>
