<div class="pt-3">
    <app-card [title]="'Reporty'" [icon]="'fa-receipt'" [isHideable]="false">
        <ng-container body>
            <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTabId">
                <li [ngbNavItem]="'type'">
                    <a ngbNavLink>Typ transakcí</a>
                    <ng-template ngbNavContent>
                        <app-report-by-type></app-report-by-type>
                    </ng-template>
                </li>

                <li [ngbNavItem]="'supplier'">
                    <a ngbNavLink>Dodavatele</a>
                    <ng-template ngbNavContent>
                        <app-report-by-supplier></app-report-by-supplier>
                    </ng-template>
                </li>

                <li [ngbNavItem]="'category'">
                    <a ngbNavLink>Kategorie</a>
                    <ng-template ngbNavContent>
                        <app-report-by-category></app-report-by-category>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="border border-top-0"></div>
        </ng-container>
    </app-card>
</div>
