/* You can add global styles to this file, and also import other style files */
@import "../node_modules/admin-lte/build/scss/adminlte.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "./styles/variables.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./styles/ng-select.scss";
@import "./styles/mobile.scss";

.btn-blurple {
    background-color: $discord-blurple;
    border-color: darken($discord-blurple, 1%);
    color: white;

    &:hover {
        color: white;
        background-color: darken($discord-blurple, 10%);
        border-color: darken($discord-blurple, 10%);
    }
}

.table-sm tbody tr td .btn-sm {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    text-align: center;

    & i {
        min-width: 18px;
    }
}

.form-control:not([no-validation]) {
    &.ng-touched {
        &.ng-invalid {
            border-color: $danger;
        }

        &.ng-valid {
            border-color: $success;
        }
    }
}

.ptr {
    cursor: pointer;
}

.underlined-link {
    color: inherit;
    text-decoration: underline;
}

.textarea-form {
    height: 150px !important;
    resize: none;
}

.mirrored {
    transform: scale(-1, 1);
}

body.sidebar-collapse {
    & .main-sidebar .sidebar {
        overflow-x: hidden;
    }

    & .nav-treeview .nav-item {
        margin-left: 0px !important;
    }

    & .main-sidebar:hover {
        & .nav-treeview .nav-item {
            margin-left: 20px !important;
        }
    }
}
