<div class="row" [class.pt-3]="padding" [class.pb-3]="padding" [class.pl-3]="padding">
    <div class="col-md">
        <b>Vytvořil:</b><br>
        {{logData.createdBy.name}} {{logData.createdBy.surname}}
        ({{logData.createdAt.toLocaleString()}})
    </div>

    <div class="col-md" *ngIf="logData.lastModifiedBy">
        <b>Naposledy upravil:</b><br>
        {{logData.lastModifiedBy.name}} {{logData.lastModifiedBy.surname}}
        ({{logData.lastModifiedAt.toLocaleString()}})
    </div>

    <div class="col-md" *ngIf="!noExternalContent">
        <ng-content></ng-content>
    </div>
</div>
