<div class="pt-3">
    <app-loading *ngIf="!access"></app-loading>
</div>

<app-card *ngIf="access" [title]="'Definice přístupu'" [icon]="'fa-unlock-alt'" [isHideable]="false">
    <form body [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-md-3">
                <label>Typ</label>
                <selector [items]="accessTypes" formControlName="type"></selector>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <label>Popis</label>
                <textarea formControlName="description" class="form-control textarea-form"></textarea>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 d-flex align-items-end justify-content-end">
                <button class="btn btn-success" type="submit" [disabled]="form.invalid">Potvrdit</button>
            </div>
        </div>
    </form>
</app-card>

<div class="mt-3 mb-3" *ngIf="!isCreate && access">
    <app-card [title]="'Podrobnosti'" [icon]="'fa-list'" [isHideable]="false">
        <ng-container body>
            <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTabId">
                <li [ngbNavItem]="'log'" *ngIf="!this.isCreate">
                    <a ngbNavLink>Historie</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-md-6">
                                <app-log-data [logData]="access.logData"></app-log-data>
                            </div>
                        </div>
                    </ng-template>
                </li>

                <li [ngbNavItem]="'members'">
                    <a ngbNavLink>Členové</a>
                    <ng-template ngbNavContent>
                        <div class="p-3">
                            <app-access-members-list [access]="access"></app-access-members-list>
                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="border border-top-0"></div>
        </ng-container>
    </app-card>
</div>
