<div class="row pt-5">
    <div class="col-md-12 d-flex justify-content-center align-items-center flex-column text-secondary">
        <h1>404</h1>
        <h3>V této části asi nenalezneš, co potřebuješ.</h3>

        <div class="mt-3">
            <button class="btn bg-teal mr-3" (click)="goBack()">
                <i class="fas fa-arrow-left mr-1"></i>
                Vrátit se zpět
            </button>

            <a class="btn btn-primary" routerLink="/app">
                <i class="fas fa-home mr-1"></i>
                Jít domů
            </a>
        </div>
    </div>
</div>
