<div class="card mt-0 mb-0" [class.rounded-0]="!radius">
    <div class="card-header" *ngIf="title">
        <div class="d-flex justify-content-between">
            <h4 class="mb-0">
                <i class="fas mr-1 {{icon}}"></i>
                {{title}}
            </h4>

            <a class="show-hide" (click)="toggleBodyVisible()" *ngIf="isHideable">
                <ng-container *ngIf="hiddenBody">Zobrazit</ng-container>
                <ng-container *ngIf="!hiddenBody">Skrýt</ng-container>
            </a>
        </div>
    </div>

    <div class="card-body" [hidden]="hiddenBody">
        <ng-content select="[body]"></ng-content>
    </div>
</div>
