@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";

.show-hide {
    cursor: pointer;
    user-select: none;
}

.card-header {
    background-color: lighten($secondary, 50%);

    & h4 {
        font-weight: 400;
    }
}
