<div class="pt-3">
    <app-card [title]="'Inventura majetku'" [icon]="'fa-boxes'">
        <form body [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="form-row">
                <div class="col-md-3">
                    <label>Provedl*</label>
                    <selector [items]="users" formControlName="user"></selector>
                    <span *ngIf="isInvalid('user')" class="text-danger">
                        <small *ngIf="isInvalid('user', 'required')">Výběr člena provádějícího inventuru je povinný.</small>
                    </span>
                </div>

                <div class="col-md-3">
                    <label>
                        Datum a čas provedení
                        <i class="fas fa-info-circle" title="Pro aktuální datum a čas ponechte prázdné."></i>
                    </label>
                    <input type="datetime-local" formControlName="at" class="form-control" />
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-md-12" *ngIf="formAssets && formAssets.controls">
                    <div class="row mt-1" formArrayName="assets" *ngFor="let control of formAssets.controls; let i = index">
                        <ng-container>
                            <div class="col-md-4" [formGroupName]="i">
                                <label>Položka</label>
                                <selector [items]="assets" formControlName="asset"></selector>
                                <span *ngIf="isInvalid('asset', null, control)" class="text-danger">
                                    <small *ngIf="isInvalid('asset', 'required', control)">Výběr položky je povinný.</small>
                                </span>
                            </div>

                            <div class="col-md-2" [formGroupName]="i">
                                <label>Počet</label>
                                <input type="number" class="form-control" formControlName="count" min="0" />
                                <span *ngIf="isInvalid('count', null, control)" class="text-danger">
                                    <small *ngIf="isInvalid('count', 'required', control)">Počet položek je povinný.</small>
                                    <small *ngIf="isInvalid('count', 'min', control)">Minimální počet položek je 0.</small>
                                </span>
                            </div>

                            <div class="col-md-5" [formGroupName]="i">
                                <label>Poznámka</label>
                                <input type="text" class="form-control" formControlName="note" />
                            </div>
                        </ng-container>

                        <div class="col-md-1 d-flex align-items-end">
                            <button *ngIf="formAssets.controls.length > 1" class="btn btn-danger" (click)="removeAssetRow(i)">Odebrat</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-md-6">
                    <button class="btn btn-success" (click)="addAssetRow()">
                        <i class="fas fa-plus mr-1"></i>
                        Přidat položku
                    </button>
                </div>

                <div class="col-md-6 d-flex justify-content-end align-items-end">
                    <button class="btn btn-success" [disabled]="form.invalid">Zapsat inventuru</button>
                </div>
            </div>
        </form>
    </app-card>
</div>
