<div class="pt-3">
    <app-loading *ngIf="!event"></app-loading>
</div>

<app-card *ngIf="event">
    <ng-container body>
        <div body class="row">
            <div class="col-md-12">
                <h4>{{event.name}}</h4>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">
                <label class="mb-0">Od</label><br>
                {{event.from.toLocaleString()}}
            </div>

            <div class="col-md-3">
                <label class="mb-0">Do</label><br>
                {{event.to.toLocaleString()}}
            </div>

            <div class="col-md-3">
                <label class="mb-0">Počet účastníků</label><br>
                <span title="Očekávaný stav">{{event.expectedCount}}</span> /
                <span title="Reálný stav">{{(event.realCount ? event.realCount : '-')}}</span>
            </div>
        </div>
    </ng-container>
</app-card>

<div class="mt-3">
    <app-event-comments-filter (filterChanged)="filterChanged($event)"></app-event-comments-filter>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="card direct-chat direct-chat-primary">
            <div class="card-body pl-3 pr-3">
                <data-list #comments (readData)="readData($event)">
                    <div class="direct-chat-messages" style="min-height: 450px; max-height: 1000px">
                        <div class="direct-chat-msg" *ngFor="let comment of comments.items" [class.right]="comment.createdBy.id == loggedUserId">
                            <div class="direct-chat-infos clearfix">
                                <span class="direct-chat-name float-left">
                                    <user-link [user]="comment.createdBy"></user-link>
                                </span>

                                <span class="direct-chat-timestamp float-right">
                                    {{comment.createdAt.toLocaleString()}}
                                    <span *ngIf="comment.modifiedAt">({{comment.modifiedAt.toLocaleString()}})</span>
                                </span>
                            </div>

                            <img class="direct-chat-img" src="{{getProfilePictureUrl(comment.createdBy)}}" alt="{{comment.createdBy.username}}" />

                            <div class="direct-chat-text">
                                <div class="d-flex justify-content-between">
                                    {{comment.text}}

                                    <span class="edit-tools">
                                        <i class="fas fa-pencil-alt mr-3 ptr" (click)="editComment(comment)"
                                            *ngIf="comment.createdBy.id == loggedUserId"></i>
                                        <i class="fas fa-trash ptr" (click)="removeComment(comment)" *ngIf="canRemoveComment(comment)"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </data-list>
            </div>

            <form class="card-footer" [formGroup]="form" (ngSubmit)="sendComment()">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Napište komentář" formControlName="message" />
                    <span class="input-group-append">
                        <button class="btn btn-primary" [disabled]="form.invalid">Odeslat</button>
                        <button class="btn btn-danger" *ngIf="editedCommentId" (click)="cancelEditation()">Zrušit</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
