<app-card [title]="'Seznam majetku'" [icon]="'fa-dolly-flatbed'" [isHideable]="false">
    <data-list #list (readData)="readData($event)" body>
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <div class="d-flex flex-wrap" *ngIf="list.isDataLoaded">
            <div class="card list-card mr-3" *ngFor="let item of list.items">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Dostupných kusů: {{item.availableCount}}</h6>
                    <div class="border-top border-bottom mb-2 pb-1" *ngIf="item.anyCategory">
                        <div class="pt-1">
                            <span class="badge badge-secondary mr-1 ptr" (click)="onCategoryClick(category.id)"
                                *ngFor="let category of item.getTopCategories(2)">{{category.name}}</span>
                            <span class="badge badge-secondary" *ngIf="item.categories.length > 2">...</span>
                        </div>
                    </div>
                    <list-button link="/app/assets/{{item.id}}" [classList]="['mr-1']" title="Upravit položku" icon="edit"></list-button>
                    <list-button (clicked)="loanItem(item)" [classList]="['mr-1']" title="Vypůjčit" icon="hand-holding" *ngIf="item.isAvailable">
                    </list-button>
                </div>
            </div>
        </div>
    </data-list>
</app-card>
