<data-list #memberList (readData)="readData($event)">
    <app-loading *ngIf="!memberList.isDataLoaded"></app-loading>

    <div class="d-flex flex-wrap" *ngIf="memberList.isDataLoaded">
        <div class="card list-card mr-3" *ngFor="let item of memberList.items">
            <div class="card-body">
                <h5 class="card-title">
                    <user-link [user]="item"></user-link>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <ng-container *ngIf="team.leader?.id == item.id">Vedoucí</ng-container>
                </h6>
                <list-button [classList]="['mr-1']" title="Smazat člena týmu" (clicked)="removeMember(item.id)" *ngIf="item.id != team.leader?.id"
                    icon="trash-alt" iconGroup="far"></list-button>
            </div>
        </div>
    </div>
</data-list>

<form [formGroup]="createMemberForm" class="mt-3" (ngSubmit)="submitForm()">
    <h5>Přidat člena</h5>
    <div class="form-row">
        <div class="col-md-3">
            <label>Člen</label>
            <selector [items]="users" formControlName="user"></selector>
            <span *ngIf="isInvalid('user')" class="text-danger">
                <small *ngIf="isInvalid('user', 'required')">Výběr člena je povinný.</small>
            </span>
        </div>

        <div class="col-md-3 d-flex align-items-end">
            <button class="btn btn-success" [disabled]="!createMemberForm.dirty || createMemberForm.invalid">Přidat</button>
        </div>
    </div>
</form>
