<app-card [title]="'Dodavatelé'" [icon]="'fa-truck-moving'" [isHideable]="false">
    <ng-container body>
        <app-loading *ngIf="!suppliers"></app-loading>

        <div class="d-flex flex-wrap" *ngIf="suppliers">
            <div class="card list-card mr-3" *ngFor="let item of suppliers">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <div class="mt-3" *ngIf="canModify">
                        <list-button link="/app/finance/suppliers/{{item.id}}" title="Upravit dodavatele" [classList]="['mr-1']" icon="edit">
                        </list-button>
                        <list-button [classList]="['mr-1']" title="Smazat dodavatele" *ngIf="item.canRemove" (clicked)="removeSupplier(item)"
                            icon="trash-alt" iconGroup="far">
                        </list-button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</app-card>
